In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [32]:
col_name = ["ProblemId","C","C++","Go","Java","Javascript","Python","Python3"]
df = pd.read_csv('../../data/processed/success_score.csv')
df.rename(columns = {'Unnamed: 0':'problemId'}, inplace = True)
df

,problemId,C,C++,Go,Java,Javascript,Python,Python3
0,5b5c8cd7276e2200208fed62,0.887715,1.054408,0.728522,0.997734,0.728522,0.728522,1.173973
1,5b645f711b2cd40020b6c771,0.834052,1.267035,0.677165,0.839609,0.677165,2.097561,1.053778
2,5b649819c0b1b80020eb30e1,1.282717,0.994248,0.835938,0.857663,0.835938,0.835938,1.085468
3,5b64600d1b2cd40020b6c772,1.030303,1.030303,0.507463,0.854271,0.507463,0.507463,1.030303
4,5b6c3ec18cab100020e963b7,0.885381,1.116316,0.737864,1.037389,0.737864,0.737864,1.295455
...,...,...,...,...,...,...,...,...
199,63361b9a125f8a00222e06ef,0.666667,1.333333,0.666667,2.000000,0.666667,0.666667,0.666667
200,633620e3fe6e62002205e71e,0.705882,1.039370,0.705882,0.705882,0.705882,0.705882,0.705882
201,6336ad26ee62f10022c977c2,0.875000,1.086207,0.875000,0.875000,0.875000,0.875000,0.875000
202,6336b760ee62f10022c97c37,0.769231,1.147541,0.769231,0.769231,0.769231,0.769231,0.769231
203,6336c0b1f9be3c00226020f2,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [33]:
df.describe()

,C,C++,Go,Java,Javascript,Python,Python3
count,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000
mean,0.888744,1.202857,0.866346,1.062685,0.780693,0.803262,1.061242
std,0.322862,0.806989,0.896996,0.550393,0.171395,0.320092,0.221630
min,0.500000,0.588235,0.500000,0.500000,0.500000,0.500000,0.500000
25%,0.744307,0.950182,0.666667,0.825661,0.666667,0.666667,0.961336
50%,0.857143,1.011671,0.760731,0.928330,0.752382,0.752382,1.004204
75%,0.965292,1.164954,0.875000,1.054053,0.872596,0.875000,1.084168
max,3.928571,8.000000,12.714286,5.153846,2.175000,4.461538,2.535211

In [34]:
df[df['C']==float(0.887715)]

Empty DataFrame
Columns: [problemId, C, C++, Go, Java, Javascript, Python, Python3]
Index: []

In [35]:
df.head()

,problemId,C,C++,Go,Java,Javascript,Python,Python3
0,5b5c8cd7276e2200208fed62,0.887715,1.054408,0.728522,0.997734,0.728522,0.728522,1.173973
1,5b645f711b2cd40020b6c771,0.834052,1.267035,0.677165,0.839609,0.677165,2.097561,1.053778
2,5b649819c0b1b80020eb30e1,1.282717,0.994248,0.835938,0.857663,0.835938,0.835938,1.085468
3,5b64600d1b2cd40020b6c772,1.030303,1.030303,0.507463,0.854271,0.507463,0.507463,1.030303
4,5b6c3ec18cab100020e963b7,0.885381,1.116316,0.737864,1.037389,0.737864,0.737864,1.295455

In [36]:
x = pd.DataFrame()
x['test'] = np.equal(df['C'], 3.928571)

In [37]:
x.head()

    test
0  False
1  False
2  False
3  False
4  False

In [38]:
x[x['test']==False]

      test
0    False
1    False
2    False
3    False
4    False
..     ...
199  False
200  False
201  False
202  False
203  False

[204 rows x 1 columns]

In [39]:
df[df.problemId == '5e6cb4e245fd530022f5ad68']

,problemId,C,C++,Go,Java,Javascript,Python,Python3
71,5e6cb4e245fd530022f5ad68,3.928571,1.170213,0.797101,0.797101,0.797101,1.325301,0.939788